.main_detail{
    width: 50%;
    display: flex;
    padding: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main_detail ul{
    list-style-type: none;
    
}
.main_detail li{
    text-align: left;
    font-style: italic;
}
.back{
    position: absolute;
}
@media (max-width:550px) {
    .main_detail{
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .back{
        position: initial;
        margin-bottom: 10px;
    }
    img{
        width: 100%;
    }
    
}