.main_nav{
    display: flex;
    justify-content: space-between;
    background-color: blue;
    margin: 0px;
    padding: 0px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
}
.main_nav h3{
    color:white;
    margin-left: 10px;
;
}
.search{
    display: flex;
    margin-right: 50px;
}
.sort_filter{
        display: flex;
        justify-content: space-between ;
        width: 15%;
}
@media (max-width:550px) {
    .main_nav{
        flex-direction: column;
    }
    .search{
        margin: 5px auto;
        width: auto;
    }
    .sort_filter{
        margin: 5px auto;
        width: auto;
    }
}
